<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- LINK CSS --><link rel="alternate" href="css/normalize.css"><link rel="stylesheet" href="css/all.min.css"><link rel="stylesheet" href="css/kasper.css"><!-- GOOGLE FONTS --><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=s <!-- GOOGLE MATIRIALE DESIGN -->
 <link href=" https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp " rel="stylesheet "><!-- TITEL --><title>Kasper</title></head><!-- START HEADER --><header class="header "><div class="container "><a href="# " class="logo "><img src="images/logo.png " alt=" "></a><input type="checkbox " id="toggle-menu "><nav><label for="toggle-menu "><i class="fa-solid fa-bars fa-2x toggle-menu "></i></label><ul><li><a class="active " href="#home ">home</a></li><li><a href="#services ">services</a></li><li><a href="#portfolio ">portfolio</a></li><li><a href="#about ">about</a></li><li><a href="#pricing ">pricing</a></li><li><a href="#contact ">contact</a></li></ul><div class="search "><i class="fa-solid fa-magnifying-glass "></i></div></nav></di v></he ader><!-- END HEADER --><!-- START LANDING --><section class="landing "><div class="overlay "></div><div class="text "><div class="content "><h1>hello world! <br />we are kasper,
we make art. </h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aut odit ab! Nostrum ipsa dignissimos porro sit perspiciatis,
delectus natus,
est ducimus et,
similique temporibus.</p></div></div><span class="slider-icon ">s="fa-solid fa-angle-left fa-2x "></i><i class="fa-solid fa-angle-right fa-2x "></i></span><ul class="circles "><li></li><li class="active "></li><li></li></ul></se ction><!-- END LANDING --><!-- START SERVICES --><section id="services " class="services "><div class="container "><h2 class="special-heading ">SERVICES </h2><p>Lorem ipsum dolor sit,
amet consectetur adipisicing elit. Eveniet iure ullam officiis minima eligendi corrupti. </p><div class="services-content "><div class="col "><div class="serv "><i class="material-icons ">desktop_windows</i><div class="serv-text "><h3>Vorem amet intuitive </h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum autem deleniti iure. Accusantium,
exercitationem. </p></div></di v><div class="serv "><i c lass="material-icons-outlined ">color_lens</i><div class="serv-text "><h3>Vorem amet intuitive </h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum autem deleniti iure. Accusantium,
exercitationem. </p></div></div></div><div cla ss="col "><div cla ss="serv ">lass="material-icons-outlined ">settings </i><div class="serv-text "><h3>Vorem amet intuitive </h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum autem deleniti iure. Accusantium,
exercitationem. </p></div></di v><div cla ss="serv "><i class="material-icons-outlined ">party_mode</i><div class="serv-text "><h3>Vorem amet intuitive </h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum autem deleniti iure. Accusantium,
exercitationem. </p></div></div></div></div></div></section><!-- END SERVICES -->A><section class="our- design "><div class=" image "><img src="images/our-design.png " alt=" "></div><div class="text "><ul>OUR DESIGNS COMES WITH... <li><i class="material-icons ">desktop_windows</i>reponsive design</li><li><i class="material-icons ">desktop_windows</i>modern and clean design</li><li><i class="material-icons ">desktop_windows</i>clean code</li><li><i class="material-icons ">desktop_windows</i>browser friendly</li></ul></div></section><!-- END OUR DESIGN --><!-- STA RT PORTFOLIO --><section id="portfolio " class="portfolio "><div class="container "><h2 class="special-heading ">PORTFOLIO</h2><p>Lorem ipsum dolor,
sit amet consectetur adipisicing elit. Porro quis in est ullam quibusdam molestiae?</p><ul class="shuffle "><li class="active ">about</li><li>app</li><li>photo</li><li>web</li><li>print</li></ul></div><div class="imgs "><div class="box "><img src="images/shuffle1.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></div><div class="box "><img src="images/shuffle2.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></di v><div class="box "><img src="images/shuffle3.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></di v><div class="box "><img src="images/shuffle4.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></di v><div class="box "><img src="images/shuffle5.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></div><div class="box "><img src="images/shuffle6.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></di v><div class="box "><img src="images/shuffle7.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></di v><div class="box "><img src="images/shuffle8.jpg " alt=" "><div class="caption "><h2>awesome image</h2><p>photography</p></div></di v></div><a href="# " class="more ">More</a></sectio n><!-- END PORTFOLIO --><!-- START V IDEO SECTION --><section cla ss="video "><vid eo muted loop autoplay><source src="images/video-awesome.mp4 " type="video/mp4 " /></video><div class="text "><h2>super awesome video here</h2><p>Its all need</p><button>see more</button></div></section><!-- END VIDEO SECTION --><!-- START ABOUT-US --><section id="about " class="about-us "><div class="container "><h2 class="special-heading ">ABOUT US </h2><p>Lorem ipsum dolor sit amet consectetur,
adipisicing elit. Accusantium nisi accusamus minus quisquam similique architecto! </p><img src=images/about.png " alt=" ">
 </div></se ction><!-- END ABOUT-US --><!-- START STATISTIC --><section class=" statistic "><div class=" container "><div class=" box "><i class=" material-icons-outlined ">local_cafe</i><span>1,
263</span><p>Coffee Drinkes</p></div><div class=" box "><i class=" material-icons-outlined ">folder</i><span>256</span><p>Compined Projects</p></div><div class=" box "><i class=" material-icons-outlined ">send</i><span>1,
743</span><p>Mail Send</p></div><div class=" box "><i class=" material-icons-outlined ">emoji_events</i><span>17</span><p>Award Received</p></div></div></section><!-- END STATISTIC --><!-- START OUR-SKILLS --><section id='skills' class=" our-skills "><div class=" container "><div class=" testimonials "><h3>testimonials</h3><p>Lorem ipsum,
dolor sit amet consectetur adipisicing elit. Aliquid,
adipisci?</p><div class=" testi-content "><div class=" person "><div class=" image "><img src=" images/skills-01.jpg " alt=" "></div><div class=" text "><p>Lorem ipsum dolor sit,
amet consectetur adipisicing elit. Explicabo,
voluptas.</p><span>John Doe,
CEO</span></div></div><div class=" person "><div class=" image "><img src=" images/skills-02.jpg " alt=" "></div><div class=" text "><p>Lorem ipsum dolor sit,
amet consectetur adipisicing elit. Explicabo,
voluptas.</p><span>John Doe,
CEO</span></div></div><ul class=" bullets "><li></li><li class=" active "></li><li></li></ul></div></div><div class=" skills "><h3>our skills</h3><p>Lorem ipsum dolor sit,
amet consectetur adipisicing elit. Quam,
quia.</p><div class=" skills-content "><div class=" box "><span>HTML &amp;
CSS</span><div class=" progress "><span class=" progress-color " style=" width:95% " data-progress=" 95% "></span></div><div class=" box "><span>JAVASCRIPT</span><div class=" progress "><span class=" progress-color " style=" width:92% " data-progress=" 92% "></span></div><div class=" box "><span>PYTHON</span><div class=" progress "><span class=" progress-color " style=" width:85% " data-progress=" 85% "></span></div><div class=" box "><span>ADOBE</span><div class=" progress "><span class=" progress-color " style=" width:87% " data-progress=" 87% "></span></div></div></div></div></div></section><!-- END OUR-SKILLS --><!-- START QUOTE --><section class=" quote "><div class=" container "><q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eligendi explicabo aperiam omnis impedit,
repellat,
similique aliquam sit,
fugit nemo sint. Accusantium corrupti neque laboriosam.</q><span>John Doe</span></div></section><!-- END QUOTE --><!-- START PRICING --><section id='pricing' class=" pricing "><div class=" container "><h2 class=" special-heading ">PRICING</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur voluptatibus a dolor asperiores repudiandae?</p><div class=" plans "><div class=" plan "><header><h2>BASIC</h2><span>19</span></header><ul class=" main "><li>Feature NO 1</li><li>Extra Feature</li><li>Feature NO 2</li><li>Feature</li></ul><footer><a href=" # ">Buy Now</a></footer></div><div class=" plan "><header><h2>PREMIUM</h2><span>29</span></header><ul class=" main "><li>Feature NO 1</li><li>Extra Feature</li><li>Feature NO 2</li><li>Feature</li></ul><footer><a href=" # ">Buy Now</a></footer></div><div class=" plan "><header><h2>PRO</h2><span>39</span></header><ul class=" main "><li>Feature NO 1</li><li>Extra Feature</li><li>Feature NO 2</li><li>Feature</li></ul><footer><a href=" # ">Buy Now</a></footer></div><div class=" plan "><header><h2>PLATINUM </h2><span>49</span></header><ul class=" main "><li>Feature NO 1</li><li>Extra Feature</li><li>Feature NO 2</li><li>Feature</li></ul><footer><a href=" # ">Buy Now</a></footer></div></div><p>contact us if you have special request</p><a href=" # " class=" contact-us ">Contact Us</a></div></section><!-- END PRICING --><!-- START SUBSCRIBE --><section class=" subscribe "><div class=" container "><div class=" form "><i class=" material-icons-sharp ">mail_outline</i><input type='email' name=" email " id=" email " placeholder=" YOUR MAIL "><input type='submit' value='SUBSCRIBE'></div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquam sit,
soluta magni sint beatae.</p></div></section><!-- END SUBSCRIBE --><!-- START CONTACT-US --><section class=" contact-us "><div class=" container "><h2 class=" special-heading ">CONTACT US </h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore asperiores inventore incidunt iure nesciunt odit.</p><div class=" contact-content "><form action=" " method=" post "><input class=" main-input " type=" text " name=" name " placeholder=" YOUR NAME "><input class=" main-input " type=" email " name=" email " placeholder=" YOUR MAIL " /><textarea class='main-input' name=" message " placeholder=" YOUR MESSAGE "></textarea><input type='submit' value='send message'></form><div class=" info "><h4>GET IN TOUCH</h4><span>+00 123.436.762</span><span>+00 123.456.782</span><h4>WHERE WE ARE</h4><address>Awesome Address 17 <br />New York,
NYC <br />123-4567-890<br />USA</address></div></div></div></section><!-- END CONTACT-US --><!-- START FOOTER --><footer class=" footer "><div class=" container "><img class=" logo " src=" images/logo.png " alt=" "><h3>WE ARE SOCIAL</h3><i class=" fa-brands fa-facebook-f "></i><i class=" fa-brands fa-twitter "></i><i class=" fa-brands fa-google-plus-g "></i><i class=" fa-brands fa-instagram "></i><p>&copy;
2014 - <span>Kasper</span>All Right Reserved</p></div></footer><!-- END FOOTER --><body></body></html>tom: -170px
}
@media (max-width: 767px) {
    .our-design .image {
        display: none
    }
}
.our-design .image img {
    max-width: 100%
}
.our-design .text {
    background-color: var(--clr-transparent);
    padding: 40px;
    width: 50%;
    color: white;
    z-index: 2
}
.our-design ul {
    font-size: 25px;
    font-weight: normal
}
@media (max-width: 767px) {
    .our-design .text {
        width: 90%;
        padding: 30px
    }
    
    .our-design ul {
        font-size: 16px
    }
}
.our-design li {
    font-size: 16px;
    margin-top: 20px;
    text-transform: capitalize;
}
.our-design li:first-of-type {
    margin-top: 40px
}
.our-design li i {
    vertical-align: middle;
    margin-right: 30px
}
@media (max-width: 768px) {
    .our-design li {
        font-size: 14px
    }
    
    .our-design li i {
        margin-right: 20px;
        font-size: 18px
    }
}

/* END OUR DESIGN */

/* START PORTFOLIO */
.portfolio {
    padding: var(--main-padding) 0;
}
.portfolio .container .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 6px;
    text-transform: uppercase;
}
.portfolio .shuffle .active {
    background-color: var(--clr-main);
    color: white
}
.portfolio .imgs {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.portfolio .box {
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) {
    .portfolio .box {
        flex-basis: 50%
    }
}
@media (min-width: 1199px) {
    .portfolio .box {
        flex-basis: 25%
    }
}
.portfolio .box::before {
    font-family: 'Font Awesome 6 Free';
    content: "\2b";
    font-weight: 900;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    width: 55px;
    height: 55px;
    background-color: var(--clr-transparent);
    border-radius: 50%;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: .3s;
    z-index: 2
}
.portfolio .box:hover .caption {
    transform: translateY(0)
}
.portfolio .box:hover::before {
    opacity: 1
}
.portfolio .box:hover img {
    transform: rotate(3deg) scale(1.1)
}
.portfolio .box img {
    max-width: 100%;
    transition: .3s
}
.portfolio .box .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 22px 0 22px 15px;
    background-color: white;
    transform: translateY(120px);
    transition: .3s
}
@media (min-width: 1200px) {
    .portfolio .box .caption {
        padding: 15px 0 15px 20px;
    }
}
.portfolio .caption h2 {
    text-transform: capitalize;
    color: black;
    font-weight: normal;
    font-size: 1rem
}
.portfolio .caption p {
    color: var(--clr-main);
    font-size: 14px
}
.portfolio .more {
    padding: 7px 25px;
    color: white;
    background-color: var(--clr-main);
    display: block;
    width: fit-content;
    margin: 0 auto
}

/* END PORTFOLIO */

/* START VEDIO */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 60%);
    z-index: 2
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    padding: 40px;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: var(--clr-transparent);
    z-index: 3
}
.video .text h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.video .text p {
    margin-bottom: 40px
}
.video .text button {
    padding: 7px 25px;
    font-size: 16px;
    background-color: #111;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
@media (max-width: 767px) {
    .video .text {
        padding: 20px
    }
    
    .video .text h2 {
        font-size: 18px;
        margin-bottom: 15px
    }
    
    .video .text p {
        margin-bottom: 20px
    }
}

/* END VEDIO */

/* START ABOUT-US */
.about-us {
    padding-top: var(--main-padding);
    overflow: hidden;
    text-align: center
}
.about-us img {
    position: relative;
    max-width: 100%;
    bottom: -120px;
    margin-top: -120px
}
@media (max-width: 500px) {
    .about-us img {
        bottom: -60px;
        margin-top: -60px
    }
}

/* END ABOUT-US */

/* START STATISTIC */
.statistic {
    padding: var(--main-padding) 0;
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative
}
.statistic::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0/ 60%);
}
.statistic .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-color: var(--clr-transparent);
    color: white;
    text-align: center;
}
.statistic .container .box {
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .statistic .container .box {
        flex-basis: 50%
    }
}
@media (min-width: 992px) {
    .statistic .container .box {
        flex-basis: 25%
    }
}
.statistic .box i {
    display: grid;
    place-content: center;
    width: 35px;
    height: 35px;
    background-color: #111;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 50%;
}
.statistic .box span {
    font-weight: bold;
    font-size: 50px;
    margin: 15px 0
}

/* END STATISTIC */

/* START OUR-SKILLS */
.our-skills {
    padding: var(--main-padding);
}
.our-skills .container {
    max-width: 100%
}
@media (max-width: 991px) {
    .our-skills .container>div {
        margin-bottom: 50px;
    }
}
@media (min-width: 992px) {
    .our-skills .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .our-skills .container>div {
        flex-basis: 45%;
    }
}
.our-skills .container>div h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal
}
.our-skills .container>div>p {
    text-align: center;
    color: var(--clr-paragraph);
    margin: 30px auto;
}
@media (min-width: 768px) {
    .our-skills .container>div>p {
        width: 400px;
    }
}
.testimonials .testi-content .person {
    display: flex;
    align-items: center;
    margin-bottom: 40px
}
.testimonials .testi-content .image {
    margin: 0 40px
}
.testimonials .image img {
    width: 150px;
    max-width: 100%;
    border-radius: 50%;
}
.testimonials .testi-content .text {
    position: relative;
    border-bottom: 2px solid hsl(0, 0%, 0%, .3);
    padding-bottom: 25px;
}
.testimonials .testi-content .text p {
    color: #333;
    line-height: 1.8;
    padding: 5px 0;
}
.testimonials .text span {
    position: absolute;
    bottom: 5px;
    right: 0;
    color: var(--clr-paragraph);
    font-size: 12px;
}
@media (max-width: 991px) {
    .testimonials .testi-content .person {
        flex-direction: column;
    }
    
    .testimonials .testi-content .image {
        margin: 0 30px 30px 0;
    }
    
    .testimonials .testi-content .text p {
        text-align: center;
    }
    
    .testimonials .text span {
        right: 50%;
        transform: translateX(50%)
    }
}
.testimonials .testi-content .bullets {
    display: flex;
    justify-content: center;
}
.testimonials .bullets li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: 1px solid #777
}
.testimonials .bullets li.active {
    margin: 0 5px;
    outline-color: var(--clr-main);
    background-color: var(--clr-main)
}
.skills h3 {
    font-size: 14px;
    font-weight: normal;
}
.skills .progress {
    width: 100%;
    height: 25px;
    margin: 20px 0;
    background-color: #ccc;
}
.skills .progress .progress-color {
    display: block;
    height: 100%;
    background-color: var(--clr-main);
    position: relative;
}
.skills .progress .progress-color::before {
    content: attr(data-progress);
    position: absolute;
    background-color: #333;
    width: 40px;
    text-align: center;
    font-size: 13px;
    color: white;
    top: -30px;
    right: -20px;
    border-radius: 4px
}
.skills .progress .progress-color::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-top-color: transparent;
    border-top-color: #333;
    top: -12px;
    right: -5px;
}

/* END OUR-SKILLS */

/* START QUOTE */
.quote {
    padding: var(--main-padding) 0;
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
}
.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 60%)
}
.quote .container {
    position: relative;
    color: white;
    text-align: center;
}
.quote .container q {
    font-size: 30px;
    line-height: 1.6;
    display: block;
    margin-bottom: 20px;
}
.quote .container q::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f10d";
    font-size: 20px;
    position: relative;
    top: -10px;
    left: -3px;
    color: black
}
.quote .container q::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f10e";
    font-size: 20px;
    position: relative;
    top: -10px;
    right: -3px;
    color: black
}
@media (max-width: 767px) {
    .quote .container q {
        font-size: 20px
    }
    
    .quote .container q::after,
    .quote .container q::before {
        font-size: 15px
    }
}

/* END QUOTE */

/* START PRICING */
.pricing {
    padding: var(--main-padding) 0;
}
.pricing .plans {
    text-align: center;
    margin-bottom: 30px
}
.pricing .plans .plan {
    width: 80%;
    margin: 0 auto 50px;
}
@media (min-width: 768px) {
    .pricing .plans {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .pricing .plans .plan {
        width: 49%;
        margin-bottom: 30px
    }
}
@media (min-width: 992px) {
    .pricing .plans .plan {
        width: 24%;
        margin-bottom: 0
    }
}
.pricing .plan header {
    padding: 30px 0;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent var(--clr-main);
}
.pricing .plan header h2 {
    font-weight: normal;
    font-size: 16px
}
.pricing header span {
    font-weight: 500;
    padding-left: 15px;
    font-size: 45px;
    position: relative
}
.pricing header span::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\24";
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 0
}
.pricing header span::after {
    content: "/MD";
    font-size: 12px;
    vertical-align: baseline;
    margin-left: 5px
}
.pricing .plan .main li {
    width: 170px;
    padding: 20px 0;
    margin: 0 auto
}
.pricing .plan .main li:not(:last-child) {
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent var(--clr-main);
}
.pricing .plan footer {
    padding: 40px 0;
    border-width: 2px;
    border-style: solid;
    border-color: var(--clr-main) transparent transparent;
}
.pricing .plan footer a {
    border: 2px solid var(--clr-main);
    padding: 10px 30px;
    color: black
}
.pricing .container p {
    text-align: center;
    margin-bottom: 30px
}
.pricing .container a.contact-us {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    color: white;
    width: fit-content;
    background-color: var(--clr-main)
}

/* END PRICING */

/* START SUBSCRIBE */
.subscribe {
    padding: calc( 2 * var(--main-padding)) 0;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative
}
.subscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0/ 60%)
}
.subscribe .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe .form {
    border: 2px solid #777;
    display: flex;
    position: relative;
    color: white;
    width: 400px;
    max-width: 100%
}
.subscribe .form input {
    border: none
}
.subscribe .form i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.subscribe .form input[type='email'] {
    padding: 15px 15px 15px 40px;
    background-color: transparent;
    color: white;
    width: calc(100% - 130px)
}
.subscribe .form input[type='submit'] {
    background-color: var(--clr-main);
    width: 130px;
    color: white;
    padding: 0 20px;
}
.subscribe .form input:focus {
    outline: none
}
.subscribe .container p {
    margin: 40px auto 0;
    color: #fff;
    text-align: center;
    line-height: 1.8;
}
@media (min-width: 991px) {
    .subscribe .container p {
        margin-top: 0
    }
}

/* END SUBSCRIBE */

/* START CONTACT-US */
.contact-us {
    padding: var(--main-padding) 0;
}
.contact-us .contact-content {
    display: flex;
    flex-wrap: wrap;
}
.contact-us .container {
    overflow: hidden
}
.contact-us .contact-content form {
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    max-width: 100%;
}
.contact-us form .main-input {
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
}
.contact-us form .main-input:focus {
    outline: none;
    border-color: var(--clr-main)
}
.contact-us form textarea {
    resize: none;
    height: 150px;
}
.contact-us form input[type="submit"] {
    background-color: var(--clr-main);
    border: 1px solid #ccc;
    padding: 15px 0;
    width: 166px;
    color: white;
    text-transform: uppercase;
    margin-left: calc(100% - 166px);
}
@media (max-width: 995px) {
    .contact-us form input[type="submit"] {
        margin: 0 auto
    }
}
.contact-us .info {
    margin-left: 40px;
}
.contact-us .info h4 {
    margin-bottom: 20px;
}
@media (max-width: 995px) {
    .contact-us .info {
        text-align: center;
        margin: 0 auto
    }
    
    .contact-us .info h4 {
        margin-top: 40px
    }
}
.contact-us .info span {
    display: block;
    color: var(--clr-paragraph);
    margin-bottom: 5px;
}
.contact-us .info h4:nth-of-type(2) {
    margin-top: 40px
}
.contact-us .info address {
    color: var(--clr-paragraph);
    line-height: 1.5;
}

/* END CONTACT-US */

/* START FOOTER */
footer.footer {
    padding: var(--main-padding) 0;
    background-image: url(../images/footer.jpg);
    background-size: cover;
    position: relative
}
footer.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 60%);
}
footer .container {
    position: relative;
    text-align: center;
    color: white
}
footer .logo {
    margin-bottom: 40px;
}
footer h3 {
    margin-bottom: 40px;
    position: relative
}
footer h3::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: white;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
footer i {
    font-size: 20px
}
footer i:not(:last-of-type) {
    margin-right: 30px;
}
footer p {
    position: relative;
    bottom: -40px;
    font-weight: bold;
}
footer p span {
    color: var(--clr-main)
}

/* END FOOTER */